//Created by Bryn Wiley and Jonna Kulmuni
//Simulation code to accompany Kulmuni, Wiley & Otto (2023),
//used to run all simulations in main text
initialize() {
	initializeSLiMModelType("nonWF");
	defineConstant("GenerationOfHybridization",1500);//The generation when hybrid pop p3 created
	defineConstant("endGeneration",3000); //number of generations to run the simulation
	
	//Variables for Fisher's Geometric Model
	//We assume the optimum moves from the origin (0,0,0,0,0) to the new optimums instantaneously at the begining of the simulation
	defineConstant("n",5);//the number of trait dimensions to use
	//IMPORTANT: If you change this you also have to change the optimum vectors
	
	//This is the dominance coefficient h
	defineConstant("h",0.5);

	
	defineConstant("runNumber",3); //A number used to keep track of unique simulations. Does not change the simulation results in meaningful ways
	defineConstant("lambda",0.2); //The average effect size of the mutations
	defineConstant("outputLocation","."); //Where the results of the simulation should be stored
	defineConstant("hapdip",1); //Whether the model is diploid or haplodiploid. 1 refers to diploid, 2 refers to haplodiploid
	
	
	defineConstant("p1optimum",c(2,0,0,0,0)); //the old optimum for the p1 population
	defineConstant("p2optimum",c(2,0,0,0,0)); //the old optimum for the p2 population
	defineConstant("p3optimum",c(2,0,0,0,0)); //the old optimum for hybrids, technically irrelevant
	
	defineConstant("p1optimum_2",c(0,2,0,0,0)); //the new optimum for the p1 population (after hybridization)
	defineConstant("p2optimum_2",c(0,2,0,0,0)); //the new optimum for the p2 population (after hybridization)
	defineConstant("p3optimum_2",c(0,2,0,0,0)); //the new optimum for the hybrid population (after hybridization)
	
	initializeMutationRate(1e-8); //The mutation rate
	initializeMutationType("m1", 0.0, "f", 0.0); //Specifies that the mutations are completely neutral
	m1.convertToSubstitution = F; //Don't remove fixed mutations
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 999999);
	
	//The following are specifications for haplodiploid and diploid models respectively
	if(hapdip==2){
		defineConstant("N", 2000); //number of individuals in each population
		initializeRecombinationRate(1e-6); //recombination rate
	}
	if(hapdip==1){
		defineConstant("N", 1500); //number of individuals in each population
		initializeRecombinationRate(6.7e-7); //recombination rate
	}
	
	initializeSex("A");


}

//This function defines the phenotypic effect of each mutation when it appears in the simulation
//It sets the phenotypic vector for each mutation as the product of a draw from a multivariate standard normal distribution
//and a draw from an exponential distribution with mean lambda, divided by a normalizing constant
mutation() {
	normal_draw = rnorm(n);
	exponential_draw = rexp(1,mu=lambda);
	
	mut.setValue("deltaZ",normal_draw*exponential_draw/sum(normal_draw^2));
	return T;
}

//reproduction callback, called only once per generation, used to produce new offspring
reproduction() {
	//make new offspring in the p1 and p2 populations, and select 
	//for the appropriate type of reproduction: haplo-diploid or diploid-only
	if(hapdip==2){
		makeOffspring(p1);
		makeOffspring(p2);
	}
	if(hapdip==1){
		makeOnlyDiploidOffspring(p1);
		makeOnlyDiploidOffspring(p2);
	}
	
	//If we are at the generation of hybridization, we populate the p3 population with offspring from
	//both p1 and p2 equally (forming the hybrid population)
	//again, check if we should be doing haplo-diploid reproduction or just diploid
	if(sim.generation==GenerationOfHybridization){
		if(hapdip==2){
			makeHybridOffspring(p1,p2,p3);
		}
		if(hapdip==1){
			makeOnlyDiploidHybridOffspring(p1,p2,p3);
		}
	}
	
	//If we are past the generation of hybridization, we also need to make sure that we make
	//offspring for the hybrid population (but not before)
	if(sim.generation>GenerationOfHybridization){
		if(hapdip==2){
			makeOffspring(p3);
		}
		if(hapdip==1){
			makeOnlyDiploidOffspring(p3);
		}
	}
	
	self.active = 0; //This is so this callback is only called once per generation
}

//This is called at the beginning of the start of the population, and established the subpopulations
//we will use throughout the simulation
1 {
	//add populations to the simulation, populate with initial individuals
	sim.addSubpop("p1", N);
	sim.addSubpop("p2", N);
	sim.addSubpop("p3", 0); //hybrid population, empty until the end when we populate with F1 hybrids
}

early() {
	inds = sim.subpopulations.individuals;
	inds[inds.age > 0].fitnessScaling = 0.0;		// non-overlapping generations, kill off old individuals
}

1 late() {
	//create output file with all relevant information	
	fileName=outputLocation+"/outputFile"+runNumber+".txt";
	log = sim.createLogFile(fileName, sep=",", logInterval=10);
	log.addGeneration();
	log.addCustomColumn("p1_male_fitness",
		"mean(p1.individuals[p1.individuals.sex == \"M\"].fitnessScaling);"); //average p1 male fitness
	log.addCustomColumn("p1_female_fitness",
		"mean(p1.individuals[p1.individuals.sex == \"F\"].fitnessScaling);"); //average p1 female fitness
	log.addCustomColumn("p2_male_fitness",
		"mean(p2.individuals[p2.individuals.sex == \"M\"].fitnessScaling);"); // average p2 male fitness
	log.addCustomColumn("p2_female_fitness",
		"mean(p2.individuals[p2.individuals.sex == \"F\"].fitnessScaling);"); // average p2 female fitness
	log.addCustomColumn("p3_male_fitness",
		"mean(p3.individuals[p3.individuals.sex == \"M\"].fitnessScaling);"); // average p3 (hybrid) male fitness
	log.addCustomColumn("p3_female_fitness",
		"mean(p3.individuals[p3.individuals.sex == \"F\"].fitnessScaling);"); // average p3 (hybrid) female fitness
	log.addCustomColumn("run_number",
		"runNumber;"); //the run number of the simulation
	log.addCustomColumn("lambda","lambda;"); //the lambda value, which is the average effect size of the mutations
	log.addCustomColumn("hapdip","hapdip;"); //what type of simulation (1 for diploid, 2 for haplodiploid)
	log.addCustomColumn("p1optimum1","paste(p1optimum,sep=\" \");"); //The first optimum the p1 population adapts to
	log.addCustomColumn("p2optimum1","paste(p2optimum,sep=\" \");"); //the first optimum the p2 population adapts to
	log.addCustomColumn("p3optimum1","paste(p3optimum,sep=\" \");"); // the first optimum the p3 population adapts to
	log.addCustomColumn("p1optimum2","paste(p1optimum_2,sep=\" \");"); // the second optimum the p1 population adapts to
	log.addCustomColumn("p2optimum2","paste(p2optimum_2,sep=\" \");"); // the second optimum the p2 population adapts to
	log.addCustomColumn("p3optimum2","paste(p3optimum_2,sep=\" \");"); // the second optimum the p3 population adapts to
	log.addCustomColumn("seed","getSeed();"); // a unique seed for random number generation (used for reproducibility)
	log.addCustomColumn("p1_expected_heterozygosity","calcHeterozygosity(p1.individuals.genomesNonNull);"); //the expected heterozygosity for the p1 population
	log.addCustomColumn("p2_expected_heterozygosity","calcHeterozygosity(p2.individuals.genomesNonNull);"); //the expected heterozygosity for the p2 population
	log.addCustomColumn("p3_expected_heterozygosity","if(length(p3.individuals)>0) calcHeterozygosity(p3.individuals.genomesNonNull); else NULL;"); //the expected heterozygosity for the p3 population
}

//This callback runs for all generations
1:9999999late()
{
	//establish the fitness of all individuals before and after hybridization
	if(sim.generation>=GenerationOfHybridization){
		p1.individuals.fitnessScaling = getFitness(p1.individuals,p1optimum_2);
		p2.individuals.fitnessScaling = getFitness(p2.individuals,p2optimum_2);
		p3.individuals.fitnessScaling = getFitness(p3.individuals,p3optimum_2);
	}
	else{
		p1.individuals.fitnessScaling = getFitness(p1.individuals,p1optimum);
		p2.individuals.fitnessScaling = getFitness(p2.individuals,p2optimum);
		p3.individuals.fitnessScaling = getFitness(p3.individuals,p3optimum);
	}
	
	
	//enhanced logging at the beginning of the simulation or right after hybridization
	if(sim.generation<101){
		sim.logFiles.setLogInterval(1);
	}
	if(sim.generation==101){
		sim.logFiles.setLogInterval(10);
	}
	if(sim.generation>=GenerationOfHybridization & sim.generation<=(GenerationOfHybridization+100)){
		sim.logFiles.setLogInterval(1);
	}
	if(sim.generation==(GenerationOfHybridization+101)){
		sim.logFiles.setLogInterval(10);
	}
	
	
	
	//end simulation
	if(sim.generation == endGeneration+1){
		sim.simulationFinished();
	}
}


//Utility functions

//the fitness of an individual with phenotype z and optimum o
function (numeric)fitnessFunction(numeric z, numeric o){
	fitness = exp(-EuclideanDistanceSquared(z,o));
	return fitness;
}
//the squared euclidean distance between vectors a and b
function (numeric)EuclideanDistanceSquared(numeric a, numeric b){
	return sqrt(sum((a-b)^2))^2;
}
//returns the fitnesses of a vector of individuals
//inds are the individuals to get the fitness of
//optimum is the optimum for fitness calculations
function (numeric)getFitness(object<Individual> inds, numeric optimum) {
	fitnesses = rep(0.0,length(inds)); //placeholder vector for fitnesses
	index=0;
	for (ind in inds) {
		fitness = 1.0;
		Z = rep(0,n);//This is the phenotypic vector that will be used to calculate the individuals fitness
		//phenotype calculation if the individual is haploid
		if((ind.sex=="M" & hapdip==2)){
			for (mutation in ind.genome1.mutationsOfType(m1)){
				Z = Z + (mutation.getValue("deltaZ")); //sum together the mutational vectors to get the phenotype vector
			}
			//phenotype calculation if the individual is diploid, so we multiply solo mutations by h (the dominance coefficient) 
		} else {
			//mutations present on both genomes
			homo_mutations=setIntersection(ind.genome1.mutationsOfType(m1),ind.genome2.mutationsOfType(m1));
			//mutations present on only one genome
			het_mutations=setSymmetricDifference(ind.genome1.mutationsOfType(m1),ind.genome2.mutationsOfType(m1));
			//homozygous mutations have their deltaZ multiplied by 1
			for (mutation in homo_mutations){
				Z = Z + (mutation.getValue("deltaZ"));
			}
			//heterozygous mutations have their deltaZ multiplied by h, the dominance coefficient
			for (mutation in het_mutations){
				Z = Z + (mutation.getValue("deltaZ"))*h;
			}
		}
		fitness = fitnessFunction(Z,optimum); //get the fitness of the established phenotypic vector (Z) with the given environmental optimum
		fitnesses[index] = fitness;
		index=index+1;
	}
	return fitnesses;
}

//A function to make hybrid offspring for the next generation
//source_pop_1 and source_pop_2 are where the parents are from. destination_pop is the population where the hybrids will be created
//the parents for the hybrids are not chosen by fitness, but randomly
function (void)makeHybridOffspring(object<Subpopulation> source_pop_1, object<Subpopulation> source_pop_2, object<Subpopulation> destination_pop){
	//sample the mothers of hybrid haploids
	sampledFemalesHaploidp1 = sample(source_pop_1.individuals[source_pop_1.individuals.sex == "F"], asInteger(N/4),replace=F);
	sampledFemalesHaploidp2 = sample(source_pop_2.individuals[source_pop_2.individuals.sex == "F"], asInteger(N/4),replace=F);
	sampledFemalesHaploid = c(sampledFemalesHaploidp1,sampledFemalesHaploidp2);
	
	//sample the mothers of the hybrid diploids
	sampledFemalesDiploidp1 = sample(source_pop_1.individuals[source_pop_1.individuals.sex == "F"], asInteger(N/4),replace=F);
	sampledFemalesDiploidp2 = sample(source_pop_2.individuals[source_pop_2.individuals.sex == "F"], asInteger(N/4),replace=F);
	sampledFemalesDiploid = c(sampledFemalesDiploidp1,sampledFemalesDiploidp2);
	
	//sample the fathers of the hybrid diploids
	sampledMalesp1 = sample(source_pop_1.individuals[source_pop_1.individuals.sex == "M"], asInteger(N/4),replace=F);
	sampledMalesp2 = sample(source_pop_2.individuals[source_pop_2.individuals.sex == "M"], asInteger(N/4),replace=F);
	sampledMales = c(sampledMalesp1,sampledMalesp2);
	
	//create new hybrid haploids
	for(female in sampledFemalesHaploid){
		//recombination breakpoints
		breaks = sim.chromosome.drawBreakpoints(female);
		if (rbinom(1, 1, 0.5))
			destination_pop.addRecombinant(strand1 = female.genome1,
			strand2 = female.genome2,
			breaks1 = breaks,
			strand3 = NULL,
			strand4 = NULL,
			breaks2 = NULL,
			sex = "M");
		else
			destination_pop.addRecombinant(strand1 = female.genome2,
			strand2 = female.genome1,
			breaks1 = breaks,
			strand3 = NULL,
			strand4 = NULL,
			breaks2 = NULL,
			sex = "M");
	}
	
	//create new hybrid diploids
	for(i in 0:(length(sampledFemalesDiploid)-1)){
		female = sampledFemalesDiploid[i];
		male = sampledMales[i];
		//recombination breakpoints
		breaks = sim.chromosome.drawBreakpoints(female);
		
		if (rbinom(1, 1, 0.5))
			destination_pop.addRecombinant(strand1 = female.genome1,
			strand2 = female.genome2,
			breaks1 = breaks,
			strand3 = male.genome1,
			strand4 = NULL,
			breaks2 = NULL,
			sex = "F");
		else
			destination_pop.addRecombinant(strand1 = female.genome2,
			strand2 = female.genome1,
			breaks1 = breaks,
			strand3 = male.genome1,
			strand4 = NULL,
			breaks2 = NULL,
			sex = "F");
	}
}

//a function for making non-hybrid offspring in the next generation
//pop is the population in which we want ot make the new offspring
function (void)makeOffspring(object<Subpopulation> pop){
	//define and get the fitnesses of the males and females in the desired population "pop"
	pop_females = pop.individuals[pop.individuals.sex == "F"];
	pop_female_fitnesses = pop_females.fitnessScaling;
	pop_males = pop.individuals[pop.individuals.sex == "M"];
	pop_male_fitnesses = pop_males.fitnessScaling;
	
	//define the parents of the new offspring
	
	//mothers of new haploids
	sampledPopFemalesHap = sample(pop_females, asInteger(N/2), replace = T, weights=pop_female_fitnesses);
	//mothers of new diploids
	sampledPopFemalesDip = sample(pop_females, asInteger(N/2), replace = T, weights=pop_female_fitnesses);
	//fathers of new diploids
	sampledPopMalesDip = sample(pop_males, asInteger(N/2), replace = T, weights=pop_male_fitnesses);
	
	//create new haploids
	for(female in sampledPopFemalesHap){
		//recombination breakpoints
		breaks = sim.chromosome.drawBreakpoints(female);
		if (rbinom(1, 1, 0.5))
			pop.addRecombinant(strand1 = female.genome1,
			strand2 = female.genome2,
			breaks1 = breaks,
			strand3 = NULL,
			strand4 = NULL,
			breaks2 = NULL,
			sex = "M");
		else
			pop.addRecombinant(strand1 = female.genome2,
			strand2 = female.genome1,
			breaks1 = breaks,
			strand3 = NULL,
			strand4 = NULL,
			breaks2 = NULL,
			sex = "M");
	}
	
	//create new diploids
	for(i in 0:(length(sampledPopFemalesDip)-1)){
		female = sampledPopFemalesDip[i];
		male = sampledPopMalesDip[i];
		breaks = sim.chromosome.drawBreakpoints(female);
		
		if (rbinom(1, 1, 0.5))
			pop.addRecombinant(strand1 = female.genome1,
			strand2 = female.genome2,
			breaks1 = breaks,
			strand3 = male.genome1,
			strand4 = NULL,
			breaks2 = NULL,
			sex = "F");
		else
			pop.addRecombinant(strand1 = female.genome2,
			strand2 = female.genome1,
			breaks1 = breaks,
			strand3 = male.genome1,
			strand4 = NULL,
			breaks2 = NULL,
			sex = "F");
	}
}

//A function for diploid-only models: make diploid offspring
function (void)makeOnlyDiploidOffspring(object<Subpopulation> pop){
	//define and get the fitnesses of the males and females in the desired population "pop"
	pop_females = pop.individuals[pop.individuals.sex == "F"];
	pop_female_fitnesses = pop_females.fitnessScaling;
	pop_males = pop.individuals[pop.individuals.sex == "M"];
	pop_male_fitnesses = pop_males.fitnessScaling;
	
	//define the parents of the new offspring
	
	//mothers of new diploids
	sampledPopFemalesDip = sample(pop_females, asInteger(N), replace = T, weights=pop_female_fitnesses);
	//fathers of new diploids
	sampledPopMalesDip = sample(pop_males, asInteger(N), replace = T, weights=pop_male_fitnesses);
	
	
	
	//create new diploids
	for(i in 0:(N-1)){
		female = sampledPopFemalesDip[i];
		male = sampledPopMalesDip[i];
		sex="F";
		if(i%2){
			sex="M";
		}
		pop.addCrossed(female,male,sex=sex);
	}
}

//A function to make hybrid offspring for the next generation but in the diploid-only model
//source_pop_1 and source_pop_2 are where the parents are from. destination_pop is the population where the hybrids will be created
//the parents for the hybrids are not chosen by fitness, but randomly
function (void)makeOnlyDiploidHybridOffspring(object<Subpopulation> source_pop_1, object<Subpopulation> source_pop_2, object<Subpopulation> destination_pop){
	//sample the mothers
	sampledFemalesp1 = sample(source_pop_1.individuals[source_pop_1.individuals.sex == "F"], asInteger(N/2),replace=F);
	sampledFemalesp2 = sample(source_pop_2.individuals[source_pop_2.individuals.sex == "F"], asInteger(N/2),replace=F);
	sampledFemales = c(sampledFemalesp1,sampledFemalesp2);
	
	//sample the fathers
	sampledMalesp1 = sample(source_pop_1.individuals[source_pop_1.individuals.sex == "M"], asInteger(N/2),replace=F);
	sampledMalesp2 = sample(source_pop_2.individuals[source_pop_2.individuals.sex == "M"], asInteger(N/2),replace=F);
	sampledMales = c(sampledMalesp1,sampledMalesp2);
	
	//create new hybrid diploids
	for(i in 0:(length(sampledFemales)-1)){
		female = sampledFemales[i];
		male = sampledMales[i];
		sex="F";
		if(i%2){
			sex="M";
		}
		destination_pop.addCrossed(female,male,sex=sex);
	}
}

