function (void) addAllele(object<Genome> g, object<MutationType> mt, integer pos)
{
	muts = g.mutationsOfType(mt);
	if (size(muts) > 0)
	{
		if (sum(muts.position == pos) > 0)
			return;
	}
	g.addNewDrawnMutation(mt, pos);
}


function (integer) countAdaptiveTypeInGenome(object<Genome> g, object<MutationType> mt)
{
	muts = g.mutationsOfType(mt);
	if (size(muts) == 0)
		return 0;

	pos = muts.position;
	cnt = 0;

	for (p in adaptivePos)
		if (sum(pos == p) > 0)
			cnt = cnt + 1;

	return cnt;
}


function (numeric) computePhenotype(object<Individual> ind)
{
	c1 = countAdaptiveTypeInGenome(ind.genome1, m6);
	c2 = countAdaptiveTypeInGenome(ind.genome2, m6);
	return (c1 + c2) / (2.0 * nAdaptiveLoci);
}


function (void) updatePhenotypeAndPositions(void)
{
	for (pop in sim.subpopulations)
	{
		for (ind in pop.individuals)
		{
			p = computePhenotype(ind);
			ind.setValue("pheno", p);
			ind.setSpatialPosition(c(p, 0.0));
		}
	}
}


function (void) updateLocalDensity(void)
{
	updatePhenotypeAndPositions();

	if (sim.cycle <= burninLength)
	{
		if (p1.individualCount > 0)
		{
			i1.evaluate(p1);
			for (ind in p1.individuals)
				ind.setValue("Nlocal", i1.totalOfNeighborStrengths(ind));
		}

		if (p2.individualCount > 0)
		{
			i1.evaluate(p2);
			for (ind in p2.individuals)
				ind.setValue("Nlocal", i1.totalOfNeighborStrengths(ind));
		}

		if (p3.individualCount > 0)
		{
			for (ind in p3.individuals)
				ind.setValue("Nlocal", 0.0);
		}
	}
	else
	{
		inds = sim.subpopulations.individuals;
		if (size(inds) == 0)
			return;

		i1.evaluate(sim.subpopulations);

		for (ind in inds)
			ind.setValue("Nlocal", i1.totalOfNeighborStrengths(ind));
	}
}


function (object<Individual>) chooseMateAssort(object<Individual> focal, object<Individual> candidates)
{
	if (size(candidates) == 0)
		return NULL;

	pf = focal.getValue("pheno");
	if (isNULL(pf))
		pf = computePhenotype(focal);

	cands = c();
	weights = c();

	for (m in candidates)
	{
		if (!(excludeSelf & (m == focal)))
		{
			pm = m.getValue("pheno");
			if (isNULL(pm))
				pm = computePhenotype(m);

			d = pf - pm;
			w = exp(-(d * d) / (2.0 * sigma_m * sigma_m));
			if (w < epsilon_w)
				w = epsilon_w;

			cands = c(cands, m);
			weights = c(weights, w);
		}
	}

	if (size(cands) == 0)
		return NULL;

	if (sum(weights) <= 0.0)
		return sample(cands, 1);

	return sample(cands, 1, weights=weights);
}


function (integer) copiesOfMutation(object<Individual> ind, object<Mutation> mu)
{
	c1 = ind.genome1.containsMutations(mu);
	c2 = ind.genome2.containsMutations(mu);
	return asInteger(c1) + asInteger(c2);
}


function (numeric) bdmiMultiplierOrleach(object<Individual> ind)
{
	M1 = unique(ind.genomes.mutationsOfType(m1));
	M2 = unique(ind.genomes.mutationsOfType(m2));

	if (size(M1) == 0)
		return 1.0;
	if (size(M2) == 0)
		return 1.0;

	w_total = 1.0;

	for (mu1 in M1)
	{
		n1 = copiesOfMutation(ind, mu1);

		for (mu2 in M2)
		{
			n2 = copiesOfMutation(ind, mu2);

			if (n1 == 2)
			{
				if (n2 == 2)
					w_pair = 1.0 - sb;
				else
					w_pair = 1.0 - hb * sb;
			}
			else
			{
				w_pair = 1.0 - hb * sb;
			}

			if (w_pair < 0.01)
				w_pair = 0.01;

			w_total = w_total * w_pair;
		}
	}

	return w_total;
}


function (void) migrateFlaggedHybrids(void)
{
	migrants = c();

	for (ind in c(p1.individuals, p2.individuals))
	{
		flag = ind.getValue("migrateToP3");
		if (!isNULL(flag))
			if (flag)
				migrants = c(migrants, ind);
	}

	if (size(migrants) > 0)
	{
		p3.takeMigrants(migrants);
		for (ind in migrants)
			ind.setValue("migrateToP3", F);
	}
}


function (void) addPrivateAdaptiveAllelesDuringBurnin(void)
{
	if (sim.cycle > burninLength)
		return;

	for (ind in p1.individuals)
	{
		for (g in ind.genomes)
		{
			for (pos in adaptivePos)
			{
				has5 = sum(g.mutationsOfType(m5).position == pos) > 0;
				has6 = sum(g.mutationsOfType(m6).position == pos) > 0;

				if (!has5 & !has6)
				{
					if (runif(1) < pAdaptive_p1)
						addAllele(g, m5, pos);
				}
			}
		}
	}

	for (ind in p2.individuals)
	{
		for (g in ind.genomes)
		{
			for (pos in adaptivePos)
			{
				has5 = sum(g.mutationsOfType(m5).position == pos) > 0;
				has6 = sum(g.mutationsOfType(m6).position == pos) > 0;

				if (!has5 & !has6)
				{
					if (runif(1) < pAdaptive_p2)
						addAllele(g, m6, pos);
				}
			}
		}
	}
}


function (void) addPrivateBDMIsDuringBurnin(void)
{
	if (sim.cycle > burninLength)
		return;

	for (ind in p1.individuals)
	{
		for (g in ind.genomes)
		{
			if (runif(1) < pBDMI_p1)
			{
				pos = rdunif(1, bdmiStart, bdmiEnd);
				addAllele(g, m1, pos);
			}
		}
	}

	for (ind in p2.individuals)
	{
		for (g in ind.genomes)
		{
			if (runif(1) < pBDMI_p2)
			{
				pos = rdunif(1, bdmiStart, bdmiEnd);
				addAllele(g, m2, pos);
			}
		}
	}
}


function (integer) countMutTypeCopies(object<Individual> ind, object<MutationType> mt)
{
	return size(ind.genomes.mutationsOfType(mt));
}


function (integer) totalCopiesInPop(object<Subpopulation> pop, object<MutationType> mt)
{
	total = 0;
	for (ind in pop.individuals)
		total = total + countMutTypeCopies(ind, mt);
	return total;
}


function (numeric) meanPhenoinPop(object<Subpopulation> pop)
{
	if (pop.individualCount == 0)
		return -1.0;

	sumP = 0.0;
	for (ind in pop.individuals)
		sumP = sumP + computePhenotype(ind);

	return sumP / pop.individualCount;
}


survival()
{
	if (individual.age == 0)
	{
		if (sim.cycle <= burninLength)
			return T;

		p = bdmiMultiplierOrleach(individual);

		if (p < 0.01)
			p = 0.01;
		if (p > 0.99)
			p = 0.99;

		return (runif(1) < p);
	}

	if (annualModel)
		return F;

	return (runif(1) < adultSurvival);
}


initialize()
{
	initializeSLiMModelType("nonWF");
	initializeSLiMOptions(keepPedigrees=F, dimensionality="xy");

	defineConstant("annualModel", T);
	defineConstant("adultSurvival", 0.70);

	defineConstant("burninLength", 2000);
	defineConstant("postBurninLength", 2000);
	defineConstant("endGen", burninLength + postBurninLength);

	defineConstant("L", 100000);
	initializeMutationRate(0.0);
	initializeRecombinationRate(1e-3);

	defineConstant("bdmiStart", 0);
	defineConstant("bdmiEnd", 49999);
	defineConstant("adaptStart", 50000);
	defineConstant("adaptEnd", L - 1);

	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeMutationType("m2", 0.5, "f", 0.0);
	m1.convertToSubstitution = F;
	m2.convertToSubstitution = F;

	initializeMutationType("m5", 0.5, "f", 0.0);
	initializeMutationType("m6", 0.5, "f", 0.0);
	m5.convertToSubstitution = F;
	m6.convertToSubstitution = F;

	initializeGenomicElementType("g1", c(m1, m2), c(1.0, 1.0));
	initializeGenomicElementType("g2", c(m5, m6), c(1.0, 1.0));

	initializeGenomicElement(g1, bdmiStart, bdmiEnd);
	initializeGenomicElement(g2, adaptStart, adaptEnd);

	defineConstant("nAdaptiveLoci", 20);
	defineConstant("adaptiveStep", asInteger((adaptEnd - adaptStart) / (nAdaptiveLoci - 1)));
	defineConstant("adaptivePos", asInteger(seq(from=adaptStart, to=adaptEnd, by=adaptiveStep)));

	defineConstant("maxOvules_p1p2", 3);
	defineConstant("maxOvules_p3", 3);
	defineConstant("dd_rate0", 0.50);
	defineConstant("alpha", 0.01);

	defineConstant("hybridizationRate", 0.001);

	defineConstant("sigma_m", 0.15);
	defineConstant("epsilon_w", 1e-6);
	defineConstant("excludeSelf", T);

	defineConstant("sigma_pheno", 0.20);
	initializeInteractionType(1, "xy", reciprocal=T, maxDistance=1.0);
	i1.setInteractionFunction("n", 1.0, sigma_pheno);

	defineConstant("sb", 0.30);
	defineConstant("hb", 0.50);

	defineConstant("pBDMI_p1", 0.01);
	defineConstant("pBDMI_p2", 0.01);
	defineConstant("pAdaptive_p1", 0.01);
	defineConstant("pAdaptive_p2", 0.01);

	defineConstant("TRAJFILE", "burnin_secondary_contact_output.txt");
	defineConstant("DIVFILE", "burnin_divergence_report.txt");
}


1 first()
{
	sim.addSubpop("p1", 150);
	sim.addSubpop("p2", 150);
	sim.addSubpop("p3", 0);

	for (ind in p1.individuals)
		ind.age = 1;
	for (ind in p2.individuals)
		ind.age = 1;

	updatePhenotypeAndPositions();
	updateLocalDensity();

	writeFile(TRAJFILE,
		"gen\tphase\tN_total\tN_p1\tN_p2\tN_p3\n",
		append=F);

	writeFile(DIVFILE,
		"gen\tN_p1\tN_p2\tmeanPheno_p1\tmeanPheno_p2\tdivPheno\tm5copies_p1\tm6copies_p1\tm5copies_p2\tm6copies_p2\tm1copies_p1\tm2copies_p1\tm1copies_p2\tm2copies_p2\n",
		append=F);
}


early()
{
	if (sim.cycle <= burninLength)
	{
		addPrivateBDMIsDuringBurnin();
		addPrivateAdaptiveAllelesDuringBurnin();
	}

	updateLocalDensity();
}


reproduction()
{
	if (individual.age == 0)
		return;

	Nlocal = individual.getValue("Nlocal");
	if (isNULL(Nlocal))
		Nlocal = 0.0;

	fertilizationRate = dd_rate0 / (1.0 + alpha * Nlocal);

	if (fertilizationRate < 0.0)
		fertilizationRate = 0.0;
	if (fertilizationRate > 1.0)
		fertilizationRate = 1.0;

	hybRate = (sim.cycle <= burninLength) ? 0.0 else hybridizationRate;

	if (subpop == p1)
	{
		n = asInteger(rbinom(1, maxOvules_p1p2, fertilizationRate));

		for (i in seqLen(n))
		{
			doHybrid = (runif(1) < hybRate);

			if (doHybrid)
			{
				candidates = c();
				if (p2.individualCount > 0)
					candidates = c(candidates, p2.individuals);
				if (p3.individualCount > 0)
					candidates = c(candidates, p3.individuals);

				if (size(candidates) > 0)
					mate = chooseMateAssort(individual, candidates);
				else
					mate = chooseMateAssort(individual, p1.individuals);
			}
			else
			{
				mate = chooseMateAssort(individual, p1.individuals);
			}

			if (!isNULL(mate))
			{
				kid = subpop.addCrossed(individual, mate);
				if (mate.subpopulation != p1)
					kid.setValue("migrateToP3", T);
			}
		}
		return;
	}

	if (subpop == p2)
	{
		n = asInteger(rbinom(1, maxOvules_p1p2, fertilizationRate));

		for (i in seqLen(n))
		{
			doHybrid = (runif(1) < hybRate);

			if (doHybrid)
			{
				candidates = c();
				if (p1.individualCount > 0)
					candidates = c(candidates, p1.individuals);
				if (p3.individualCount > 0)
					candidates = c(candidates, p3.individuals);

				if (size(candidates) > 0)
					mate = chooseMateAssort(individual, candidates);
				else
					mate = chooseMateAssort(individual, p2.individuals);
			}
			else
			{
				mate = chooseMateAssort(individual, p2.individuals);
			}

			if (!isNULL(mate))
			{
				kid = subpop.addCrossed(individual, mate);
				if (mate.subpopulation != p2)
					kid.setValue("migrateToP3", T);
			}
		}
		return;
	}

	if (subpop == p3)
	{
		if (sim.cycle <= burninLength)
			return;

		n = asInteger(rbinom(1, maxOvules_p3, fertilizationRate));

		for (i in seqLen(n))
		{
			doBackcross = (runif(1) < hybRate);

			if (doBackcross)
			{
				candidates = c();
				if (p1.individualCount > 0)
					candidates = c(candidates, p1.individuals);
				if (p2.individualCount > 0)
					candidates = c(candidates, p2.individuals);

				if (size(candidates) > 0)
					mate = chooseMateAssort(individual, candidates);
				else
					mate = chooseMateAssort(individual, p3.individuals);
			}
			else
			{
				mate = chooseMateAssort(individual, p3.individuals);
			}

			if (!isNULL(mate))
				kid = subpop.addCrossed(individual, mate);
		}
		return;
	}
}


late()
{
	if (sim.cycle > burninLength)
		migrateFlaggedHybrids();

	allInds = sim.subpopulations.individuals;
	phase = (sim.cycle <= burninLength) ? "burnin" else "postBurnin";

	writeFile(TRAJFILE,
		sim.cycle + "\t" +
		phase + "\t" +
		size(allInds) + "\t" +
		p1.individualCount + "\t" +
		p2.individualCount + "\t" +
		p3.individualCount + "\n",
		append=T);

	if (sim.cycle == burninLength)
	{
		meanPheno_p1 = meanPhenoinPop(p1);
		meanPheno_p2 = meanPhenoinPop(p2);

		m5copies_p1 = totalCopiesInPop(p1, m5);
		m6copies_p1 = totalCopiesInPop(p1, m6);
		m5copies_p2 = totalCopiesInPop(p2, m5);
		m6copies_p2 = totalCopiesInPop(p2, m6);

		m1copies_p1 = totalCopiesInPop(p1, m1);
		m2copies_p1 = totalCopiesInPop(p1, m2);
		m1copies_p2 = totalCopiesInPop(p2, m1);
		m2copies_p2 = totalCopiesInPop(p2, m2);

		divPheno = abs(meanPheno_p2 - meanPheno_p1);

		writeFile(DIVFILE,
			sim.cycle + "\t" +
			p1.individualCount + "\t" +
			p2.individualCount + "\t" +
			meanPheno_p1 + "\t" +
			meanPheno_p2 + "\t" +
			divPheno + "\t" +
			m5copies_p1 + "\t" +
			m6copies_p1 + "\t" +
			m5copies_p2 + "\t" +
			m6copies_p2 + "\t" +
			m1copies_p1 + "\t" +
			m2copies_p1 + "\t" +
			m1copies_p2 + "\t" +
			m2copies_p2 + "\n",
			append=T);
	}
}


endGen late()
{
	sim.simulationFinished();
}
