function (string) HIhist(object<Individual> inds, integer nBins)
{
	if (size(inds) == 0)
		return "NA";

	bins = integer(nBins);

	for (ind in inds)
	{
		hi = computeHI(ind);
		b = asInteger(floor(hi * nBins));
		if (b == nBins)
			b = nBins - 1;

		bins[b] = bins[b] + 1;
	}

	out = "";
	for (i in seqLen(nBins))
		out = out + bins[i] + (i < (nBins - 1) ? "," else "");

	return out;
}


function (void) addAllele(object<Genome> g, object<MutationType> mt, integer pos)
{
	muts = g.mutationsOfType(mt);
	if (size(muts) > 0)
	{
		if (sum(muts.position == pos) > 0)
			return;
	}
	g.addNewDrawnMutation(mt, pos);
}


function (void) removeAlleleAtPos(object<Genome> g, object<MutationType> mt, integer pos)
{
	muts = g.mutationsOfType(mt);
	if (size(muts) == 0)
		return;

	target = muts[muts.position == pos];
	if (size(target) > 0)
		g.removeMutations(target);
}


function (integer) countAnc1InGenome(object<Genome> g)
{
	muts = g.mutationsOfType(m3);
	if (size(muts) == 0)
		return 0;

	pos = muts.position;
	cnt = 0;

	for (p in markerPos)
		if (sum(pos == p) > 0)
			cnt = cnt + 1;

	return cnt;
}


// Hybrid index: 0 = pure p1-like (all A), 1 = pure p2-like (all B)
function (numeric) computeHI(object<Individual> ind)
{
	c1 = countAnc1InGenome(ind.genome1);
	c2 = countAnc1InGenome(ind.genome2);

	p1frac = (c1 + c2) / (2.0 * nMarkers);
	return 1.0 - p1frac;
}


function (void) updateHIandPositions(void)
{
	for (pop in sim.subpopulations)
	{
		for (ind in pop.individuals)
		{
			HI = computeHI(ind);
			ind.setValue("HI", HI);
			ind.setSpatialPosition(c(HI, 0.0));
		}
	}
}


function (void) updateLocalDensity(void)
{
	updateHIandPositions();

	// burn-in: density is calculated separately within p1 and p2
	if (sim.cycle <= burninLength)
	{
		if (p1.individualCount > 0)
		{
			i1.evaluate(p1);
			for (ind in p1.individuals)
				ind.setValue("Nlocal", i1.totalOfNeighborStrengths(ind));
		}

		if (p2.individualCount > 0)
		{
			i1.evaluate(p2);
			for (ind in p2.individuals)
				ind.setValue("Nlocal", i1.totalOfNeighborStrengths(ind));
		}

		if (p3.individualCount > 0)
		{
			for (ind in p3.individuals)
				ind.setValue("Nlocal", 0.0);
		}
	}
	else
	{
		// post-burn-in: shared density across all populations
		inds = sim.subpopulations.individuals;
		if (size(inds) == 0)
			return;

		i1.evaluate(sim.subpopulations);

		for (ind in inds)
		{
			Nlocal = i1.totalOfNeighborStrengths(ind);
			ind.setValue("Nlocal", Nlocal);
		}
	}
}


function (object<Individual>) chooseMateAssort(object<Individual> focal, object<Individual> candidates)
{
	if (size(candidates) == 0)
		return NULL;

	HIf = focal.getValue("HI");
	if (isNULL(HIf))
		HIf = computeHI(focal);

	cands = c();
	weights = c();

	for (m in candidates)
	{
		if (!(excludeSelf & (m == focal)))
		{
			HIm = m.getValue("HI");
			if (isNULL(HIm))
				HIm = computeHI(m);

			d = HIf - HIm;
			w = exp(-(d * d) / (2.0 * sigma_m * sigma_m));
			if (w < epsilon_w)
				w = epsilon_w;

			cands = c(cands, m);
			weights = c(weights, w);
		}
	}

	if (size(cands) == 0)
		return NULL;

	if (sum(weights) <= 0.0)
		return sample(cands, 1);

	return sample(cands, 1, weights=weights);
}


function (integer) copiesOfMutation(object<Individual> ind, object<Mutation> mu)
{
	c1 = ind.genome1.containsMutations(mu);
	c2 = ind.genome2.containsMutations(mu);
	return asInteger(c1) + asInteger(c2);
}


function (numeric) bdmiMultiplierOrleach(object<Individual> ind)
{
	M1 = unique(ind.genomes.mutationsOfType(m1));
	M2 = unique(ind.genomes.mutationsOfType(m2));

	if (size(M1) == 0)
		return 1.0;
	if (size(M2) == 0)
		return 1.0;

	w_total = 1.0;

	for (mu1 in M1)
	{
		n1 = copiesOfMutation(ind, mu1);

		for (mu2 in M2)
		{
			n2 = copiesOfMutation(ind, mu2);

			if (n1 == 2)
			{
				if (n2 == 2)
					w_pair = 1.0 - sb;
				else
					w_pair = 1.0 - hb * sb;
			}
			else
			{
				w_pair = 1.0 - hb * sb;
			}

			if (w_pair < 0.01)
				w_pair = 0.01;

			w_total = w_total * w_pair;
		}
	}

	return w_total;
}


function (void) moveAllHybridGenotypesToP3(void)
{
	for (pop in c(p1, p2))
	{
		for (ind in pop.individuals)
		{
			if (ind.age == 0)
			{
				hi = computeHI(ind);

				if ((hi > 0.0) & (hi < 1.0))
					ind.setValue("migrateToP3", T);
			}
		}
	}
}


function (void) migrateFlaggedHybrids(void)
{
	migrants = c();

	for (ind in c(p1.individuals, p2.individuals))
	{
		flag = ind.getValue("migrateToP3");
		if (!isNULL(flag))
			if (flag)
				migrants = c(migrants, ind);
	}

	if (size(migrants) > 0)
	{
		p3.takeMigrants(migrants);
		for (ind in migrants)
			ind.setValue("migrateToP3", F);
	}
}


// count number of derived B marker alleles (m4)
function (integer) countBMarkers(object<Individual> ind)
{
	c1 = size(ind.genome1.mutationsOfType(m4));
	c2 = size(ind.genome2.mutationsOfType(m4));
	return c1 + c2;
}


// p2-only A -> B transition during burn-in
function (void) convertMarkerAtoBInP2(void)
{
	if (sim.cycle > burninLength)
		return;

	for (ind in p2.individuals)
	{
		for (g in ind.genomes)
		{
			for (pos in markerPos)
			{
				hasA = sum(g.mutationsOfType(m3).position == pos) > 0;
				hasB = sum(g.mutationsOfType(m4).position == pos) > 0;

				if (hasA & !hasB)
				{
					if (runif(1) < pMarkerConvert)
					{
						removeAlleleAtPos(g, m3, pos);
						addAllele(g, m4, pos);
					}
				}
			}
		}
	}
}


// private BDMI accumulation during burn-in
function (void) addPrivateBDMIsDuringBurnin(void)
{
	if (sim.cycle > burninLength)
		return;

	// p1 gets only m1
	for (ind in p1.individuals)
	{
		for (g in ind.genomes)
		{
			if (runif(1) < pBDMI_p1)
			{
				pos = rdunif(1, 0, L - 1);
				addAllele(g, m1, pos);
			}
		}
	}

	// p2 gets only m2
	for (ind in p2.individuals)
	{
		for (g in ind.genomes)
		{
			if (runif(1) < pBDMI_p2)
			{
				pos = rdunif(1, 0, L - 1);
				addAllele(g, m2, pos);
			}
		}
	}
}


// ---------- helper functions for reporting ----------

function (integer) countMutTypeCopies(object<Individual> ind, object<MutationType> mt)
{
	return size(ind.genomes.mutationsOfType(mt));
}


function (integer) totalCopiesInPop(object<Subpopulation> pop, object<MutationType> mt)
{
	total = 0;
	for (ind in pop.individuals)
		total = total + countMutTypeCopies(ind, mt);
	return total;
}


function (numeric) meanHIinPop(object<Subpopulation> pop)
{
	if (pop.individualCount == 0)
		return -1.0;

	sumHI = 0.0;
	for (ind in pop.individuals)
		sumHI = sumHI + computeHI(ind);

	return sumHI / pop.individualCount;
}




survival()
{
	// newborn viability selection
	if (individual.age == 0)
	{
		// no BDMI viability penalty during burn-in
		if (sim.cycle <= burninLength)
			return T;

		p = bdmiMultiplierOrleach(individual);

		if (p < 0.01) p = 0.01;
		if (p > 0.99) p = 0.99;

		return (runif(1) < p);
	}

	// adults
	if (annualModel)
	{
		return F;
	}
	else
	{
		return (runif(1) < adultSurvival);
	}
}



initialize()
{
	initializeSLiMModelType("nonWF");
	initializeSLiMOptions(keepPedigrees=F, dimensionality="xy");

	defineConstant("nHIBins", 10);

	// life history
	defineConstant("annualModel", T);
	defineConstant("adultSurvival", 0.70);

	// timing
	defineConstant("burninLength", 2000);
	defineConstant("postBurninLength", 2000);
	defineConstant("endGen", burninLength + postBurninLength);

	// genome
	defineConstant("L", 100000);
	initializeMutationRate(0.0);   // private BDMI and marker changes are handled manually
	initializeRecombinationRate(1e-3);

	// BDMI mutation types
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeMutationType("m2", 0.5, "f", 0.0);
	m1.convertToSubstitution = F;
	m2.convertToSubstitution = F;

	// ancestry markers
	// m3 = ancestral A, m4 = derived B
	initializeMutationType("m3", 0.5, "f", 0.0);
	initializeMutationType("m4", 0.5, "f", 0.0);
	m3.convertToSubstitution = F;
	m4.convertToSubstitution = F;

	initializeGenomicElementType("g1", c(m1, m2, m3, m4), c(1.0, 1.0, 1.0, 1.0));
	initializeGenomicElement(g1, 0, L - 1);

	defineConstant("nMarkers", 20);
	defineConstant("markerStart", 1000);
	defineConstant("markerEnd",   L - 1000);
	defineConstant("markerStep", asInteger((markerEnd - markerStart) / (nMarkers - 1)));
	defineConstant("markerPos", asInteger(seq(from=markerStart, to=markerEnd, by=markerStep)));

	// reproduction / density
	defineConstant("maxOvules_p1p2", 3);
	defineConstant("maxOvules_p3",   3);
	defineConstant("dd_rate0", 0.50);
	defineConstant("alpha",    0.01);

	// hybridization
	defineConstant("hybridizationRate", 0.001);

	// assortative mating
	defineConstant("sigma_m",   0.15);
	defineConstant("epsilon_w", 1e-6);
	defineConstant("excludeSelf", T);

	// HI-space competition kernel
	defineConstant("sigma_HI", 0.20);
	initializeInteractionType(1, "xy", reciprocal=T, maxDistance=1.0);
	i1.setInteractionFunction("n", 1.0, sigma_HI);

	// BDMI effects
	defineConstant("sb", 0.30);
	defineConstant("hb", 0.50);

	// burn-in mutation / transition rates
	defineConstant("pBDMI_p1", 0.01);         // per genome per generation
	defineConstant("pBDMI_p2", 0.01);         // per genome per generation
	defineConstant("pMarkerConvert", 0.01);   // A -> B per marker copy per generation in p2

	// output files
	defineConstant("TRAJFILE", "burnin_secondary_contact_output.txt");
	defineConstant("DIVFILE",  "burnin_divergence_report.txt");
}



1 first()
{
	sim.addSubpop("p1", 150);
	sim.addSubpop("p2", 150);
	sim.addSubpop("p3", 0);

	// founders start as adults
	for (ind in p1.individuals) ind.age = 1;
	for (ind in p2.individuals) ind.age = 1;

	// both p1 and p2 start fixed for ancestral A (m3)
	for (ind in c(p1.individuals, p2.individuals))
	{
		for (p in markerPos)
		{
			addAllele(ind.genome1, m3, p);
			addAllele(ind.genome2, m3, p);
		}
	}

	updateHIandPositions();
	updateLocalDensity();

	writeFile(TRAJFILE,
		"gen\tphase\tN_p1\tN_p2\tN_p3\toffspring_p1\toffspring_p2\toffspring_p3\tmeanHI_p1\tmeanHI_p2\tmeanHI_p3\tHIhist_p3_offspring\n",
		append=F);

	writeFile(DIVFILE,
		"gen\tN_p1\tN_p2\tmeanHI_p1\tmeanHI_p2\tdivHI\tAcopies_p1\tBcopies_p1\tAcopies_p2\tBcopies_p2\tAtoB_in_p2\tm1copies_p1\tm2copies_p1\tm1copies_p2\tm2copies_p2\n",
		append=F);
}



early()
{
	// burn-in only processes
	if (sim.cycle <= burninLength)
	{
		addPrivateBDMIsDuringBurnin();
		convertMarkerAtoBInP2();
	}

	updateLocalDensity();
}



reproduction()
{
	// only adults reproduce
	if (individual.age == 0)
		return;

	Nlocal = individual.getValue("Nlocal");
	if (isNULL(Nlocal))
		Nlocal = 0.0;

	// base density-dependent fertilization
	fertilizationRate = dd_rate0 / (1.0 + alpha * Nlocal);

	if (fertilizationRate < 0.0) fertilizationRate = 0.0;
	if (fertilizationRate > 1.0) fertilizationRate = 1.0;

	hybRate = (sim.cycle <= burninLength) ? 0.0 else hybridizationRate;

	if (subpop == p1)
	{
		n = asInteger(rbinom(1, maxOvules_p1p2, fertilizationRate));

		for (i in seqLen(n))
		{
			doHybrid = (runif(1) < hybRate);

			if (doHybrid)
			{
				candidates = c();
				if (p2.individualCount > 0) candidates = c(candidates, p2.individuals);
				if (p3.individualCount > 0) candidates = c(candidates, p3.individuals);

				if (size(candidates) > 0)
					mate = chooseMateAssort(individual, candidates);
				else
					mate = chooseMateAssort(individual, p1.individuals);
			}
			else
			{
				mate = chooseMateAssort(individual, p1.individuals);
			}

			if (!isNULL(mate))
				kid = subpop.addCrossed(individual, mate);
		}
		return;
	}

	if (subpop == p2)
	{
		n = asInteger(rbinom(1, maxOvules_p1p2, fertilizationRate));

		for (i in seqLen(n))
		{
			doHybrid = (runif(1) < hybRate);

			if (doHybrid)
			{
				candidates = c();
				if (p1.individualCount > 0) candidates = c(candidates, p1.individuals);
				if (p3.individualCount > 0) candidates = c(candidates, p3.individuals);

				if (size(candidates) > 0)
					mate = chooseMateAssort(individual, candidates);
				else
					mate = chooseMateAssort(individual, p2.individuals);
			}
			else
			{
				mate = chooseMateAssort(individual, p2.individuals);
			}

			if (!isNULL(mate))
				kid = subpop.addCrossed(individual, mate);
		}
		return;
	}

	if (subpop == p3)
	{
		// p3 should only matter after burn-in
		if (sim.cycle <= burninLength)
			return;

		n = asInteger(rbinom(1, maxOvules_p3, fertilizationRate));

		for (i in seqLen(n))
		{
			doBackcross = (runif(1) < hybRate);

			if (doBackcross)
			{
				candidates = c();
				if (p1.individualCount > 0) candidates = c(candidates, p1.individuals);
				if (p2.individualCount > 0) candidates = c(candidates, p2.individuals);

				if (size(candidates) > 0)
					mate = chooseMateAssort(individual, candidates);
				else
					mate = chooseMateAssort(individual, p3.individuals);
			}
			else
			{
				mate = chooseMateAssort(individual, p3.individuals);
			}

			if (!isNULL(mate))
				kid = subpop.addCrossed(individual, mate);
		}
		return;
	}
}



late()
{
	if (sim.cycle > burninLength)
	{
		moveAllHybridGenotypesToP3();
		migrateFlaggedHybrids();
	}

	offs1 = p1.individuals[p1.individuals.age == 0];
	offs2 = p2.individuals[p2.individuals.age == 0];
	offs3 = p3.individuals[p3.individuals.age == 0];

	h3 = HIhist(offs3, nHIBins);
	phase = (sim.cycle <= burninLength) ? "burnin" else "postBurnin";

	meanHI_p1 = meanHIinPop(p1);
	meanHI_p2 = meanHIinPop(p2);
	meanHI_p3 = meanHIinPop(p3);

	writeFile(TRAJFILE,
		sim.cycle + "\t" +
		phase + "\t" +
		p1.individualCount + "\t" +
		p2.individualCount + "\t" +
		p3.individualCount + "\t" +
		size(offs1) + "\t" +
		size(offs2) + "\t" +
		size(offs3) + "\t" +
		meanHI_p1 + "\t" +
		meanHI_p2 + "\t" +
		meanHI_p3 + "\t" +
		h3 + "\n",
		append=T);

	// one divergence report at end of burn-in
	if (sim.cycle == burninLength)
	{
		Acopies_p1 = totalCopiesInPop(p1, m3);
		Bcopies_p1 = totalCopiesInPop(p1, m4);
		Acopies_p2 = totalCopiesInPop(p2, m3);
		Bcopies_p2 = totalCopiesInPop(p2, m4);

		// both populations started fixed for A, so B copies in p2 represent converted A->B states present at burn-in end
		AtoB_in_p2 = Bcopies_p2;

		m1copies_p1 = totalCopiesInPop(p1, m1);
		m2copies_p1 = totalCopiesInPop(p1, m2);
		m1copies_p2 = totalCopiesInPop(p2, m1);
		m2copies_p2 = totalCopiesInPop(p2, m2);

		divHI = abs(meanHI_p2 - meanHI_p1);

		writeFile(DIVFILE,
			sim.cycle + "\t" +
			p1.individualCount + "\t" +
			p2.individualCount + "\t" +
			meanHI_p1 + "\t" +
			meanHI_p2 + "\t" +
			divHI + "\t" +
			Acopies_p1 + "\t" +
			Bcopies_p1 + "\t" +
			Acopies_p2 + "\t" +
			Bcopies_p2 + "\t" +
			AtoB_in_p2 + "\t" +
			m1copies_p1 + "\t" +
			m2copies_p1 + "\t" +
			m1copies_p2 + "\t" +
			m2copies_p2 + "\n",
			append=T);
	}
}



endGen late()
{
	sim.simulationFinished();
}
